.icon{
    margin-top: 20%;
    float: right;
    border-radius: 50%;
    background-color: rgb(255, 251, 16);
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
