

<div class="p-grid">
  <p-card class="p-col-3">
    <app-saldo-label></app-saldo-label>
  </p-card>
  <p-card class="p-col-2">
    <app-ingreso-label ></app-ingreso-label>
  </p-card>
  <p-card class="p-col-2" (click)="showDialog()">
    <app-gasto-label></app-gasto-label>
  </p-card>
  <p-card class="p-col-2">
    <app-consumo-label></app-consumo-label>
  </p-card>
  <p-card class="p-col-3">
    <app-efectivo-label></app-efectivo-label>
  </p-card>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <h1 class="sub-title">Gastos por Proveedores</h1>
  </div>
  <div class="p-col-6">
    <h1 class="sub-title">Gastos por Tipo</h1>
  </div>
</div>

<div class="p-grid">
  <p-card class="p-col-6">
    <app-gastos></app-gastos>
  </p-card>
  <p-card class="p-col-6">
    <app-gasto-por-tipo-label></app-gasto-por-tipo-label>
  </p-card>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <h1 class="sub-title">Gastos Mensuales</h1>
  </div>
  <div class="p-col-6">
    <h1 class="sub-title">balance Ingresos-Gastos mensuales</h1>
  </div>
</div>

<div class="p-grid">
  <p-card class="p-col-6">
    <app-gastos-mensuales></app-gastos-mensuales>
  </p-card>
  <p-card class="p-col-6">
    <app-ingresos></app-ingresos>
  </p-card>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <h1 class="sub-title">Balance Mensual</h1>
  </div>
  <div class="p-col-6">
    <h1 class="sub-title">Ingresos por dia</h1>
  </div>
</div>

<div class="p-grid">
  <p-card class="p-col-6">
    <app-balance-mensual></app-balance-mensual>
  </p-card>
  <p-card class="p-col-6">
    <app-ingresos-por-dia></app-ingresos-por-dia>
  </p-card>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <h1 class="sub-title">Balance Total</h1>
  </div>
  <div class="p-col-6">
    <h1 class="sub-title">Sueldos Por Mes</h1>
  </div>
</div>

<div class="p-grid">
  <p-card class="p-col-6">
    <app-balance-total></app-balance-total>
  </p-card>
  <p-card class="p-col-6">
    <app-ingresos></app-ingresos>
  </p-card>
</div>



<p-dialog header="Title" [style]="{width: '50vw',heigth: '50vh'}" [(visible)]="ingresoModal">
  <app-gasto-modal></app-gasto-modal>
</p-dialog>
<router-outlet></router-outlet>